# Django API

SECRET_KEY=
DEBUG=True

# Database Config

DB_NAME=safira_db
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Gmail API

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/gmail/callback/
GOOGLE_OAUTH_SCOPES=https://www.googleapis.com/auth/gmail.readonly https://www.googleapis.com/auth/gmail.modify https://www.googleapis.com/auth/gmail.labels
OAUTHLIB_INSECURE_TRANSPORT=1

# Gemini API
GEMINI_API_KEY=

FRONTEND_URL=http://127.0.0.1:5173

# Ollama API

OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3.2

ALLOWED_HOSTS=127.0.0.1,localhost
